@model PokemonTarea.Models.Pokemon

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Pokemon</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RegionNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RegionNavigation.Region1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoNavigation.Tipo)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdPokemon">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
